.roomCard_bg{
  height: 12.06rem;
  background: url(../../assets/imgs/roomCard/roomCard_bg.png);
  background-size: 100% 100%;
}
.location{
  display: flex;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  align-items: center;
  justify-content: flex-end;
}
.location_img{
  width: 0.28rem;
}
.location_title{
  font-size: 0.24rem;
  color: #fff;
  margin-left: 0.14rem;
}
.round_bg{
  width: 7.0rem;
  height: 7.0rem;
  background: url(../../assets/imgs/roomCard/round.png);
  background-size: 100% 100%;
  position: absolute;
  top: 3.08rem;
  left: 50%;
  margin-left: -3.5rem;
}
.figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
}
.figure_source{
  composes: figure;
  top: 0.34rem;
  left: 50%;
  margin-left: -0.5rem;
}
.figure_elevator{
  composes: figure;
  top: 3.7rem;
  left: 1.16rem;
}
.figure_door{
  composes: figure;
  top: 3.7rem;
  right: 1.04rem;
}
.icon_div_source{
  width: 0.66rem;
  height: 0.76rem;
  background:url(../../assets/imgs/roomCard/source.png)no-repeat center center;
  background-size: 100% 100%;
  transition: transform .2s;
}
.icon_div_source:active{
  background:url(../../assets/imgs/roomCard/source_active.png)no-repeat center center;
  background-size: 100% 100%;
  transform: scale(1.2,1.2);
}
.icon_div_door{
  width: 0.62rem;
  height: 0.9rem;
  background:url(../../assets/imgs/roomCard/door.png)no-repeat center center;
  background-size: 100% 100%;
  transition: transform .2s;
}
.icon_div_door:active{
  background:url(../../assets/imgs/roomCard/door_active.png)no-repeat center center;
  background-size: 100% 100%;
  transform: scale(1.2,1.2);
}
.icon_div_elevator{
  width: 0.74rem;
  height: 0.74rem;
  background:url(../../assets/imgs/roomCard/elevator.png)no-repeat center center;
  background-size: 100% 100%;
  transition: transform .2s;
}
.icon_div_elevator:active{
  background:url(../../assets/imgs/roomCard/elevator_active.png)no-repeat center center;
  background-size: 100% 100%;
 transform: scale(1.2,1.2);
}
.selectTitle{
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  margin-top: 0.2rem;
}
.center{
  width: 1.66rem;
  height: 1.92rem;
  background: url(../../assets/imgs/roomCard/hexagon.png);
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -0.83rem;
  top: 50%;
  margin-top: -0.96rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center_title{
  font-size: 0.4rem;
  text-align: center;
  margin:0;
}
.center_name{
  composes: center_title;
  margin-top: 0.3rem;
}
.center_num {
  composes: center_title;
  margin-top: 0.24rem;
}
.pots{
  width: 2.6rem;
  background: url(../../assets/imgs/roomCard/pots.png);
  background-size: 100% 100%;
  position: absolute;
}
.pots_top{
  composes: pots;
  left: 50%;
  margin-left: -1.3rem;
  top: 50%;
  margin-top: -1.3rem;
}